 /*Configuracion inicial de la página*/
/*Resetendo el layout */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.help{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
}

/*Clases reutilizables*/
.flex-center{
  display:flex;
  align-items:center;
}

.align-items-center{
  align-items:center;
}

.space-between{
display:flex;
flex-direction:column;
justify-content:space-between;
}

.stretch{
  min-width:1rem;
}

.margin-top{
  margin-top:2vh;
}

.overlay-title {
  width: 100%;
  height: 30vh;
  position: absolute;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #D96600;
  font-size: 2em;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.opacity {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}
.opacity:hover {
  background: rgba(0, 0, 0, 0.5);
}



