<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="../assets/icons/icon_head.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/bootstrap4/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link rel="stylesheet" href="../css/login.css">
  <title>Login</title>
</head>

<body>
  <main class="min100vh gray-grad">
    <section class="container-fluid">
      <div class="row">
        <div id="" class="col-12 col-md-6 d-none d-sm-block">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="img-1 carousel-item active">

              </div>
              <div class="img-2 carousel-item">

              </div>
              <div class="img-3 carousel-item">

              </div>
            </div>
          </div>
        </div>
        <div id="" class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center login-content">
          <!-- Texto de bienvenida -->
          <div class="row my-3">
            <div class="col-12 col-sm-6 offset-sm-3">
              <figure class="mb-4">
                <img src="../assets/images/logo.png" alt="" class="img-fluid">
              </figure>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 text-center">
              <p class="d-none d-sm-block">Bienvenidos a
                <b>Syneek</b>, disfruta de tus sagas.</p>
              <p class="d-block d-sm-none">¡Bienvenido, amante de las sagas!</p>
            </div>
          </div>
          <form class="w-75 max400">

            <!-- Botones para iniciar con redes sociales -->
            <div class="form-row">
              <div class="form-group col-6">
                <button type="button" id="google-login" class="btn btn-primary rounded-corners float-right">
                  <i class="fa fa-google" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-6">
                <button type="button" id="continue" class="btn btn-primary rounded-corners float-right">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </form>
        
        </div>
      </div>
    </section>
  </main>

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="../vendors/bootstrap4/js/bootstrap.min.js"></script>
  <script src="../js/connect.js"></script>
  <script src="../js/login.js"></script>
</body>

</html>